body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    display: flex;
    min-height: 100vh;
}

/* Header Section */

.Header{
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 16px 24px;
    align-items: center;
}

.Logo{
    color: #f9faf8;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.Header-Right ul{
    font-size: 18px;
    color: #e5e7eb;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin: 8px;
}

/* Page Container */

.Page-Container{
    flex-grow: 1;
    flex-shrink: 1;
}

/* Hero Section */

.hero{
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 16px;
}

.right, .left{
    max-width: 400px;
    width: 400px;
    padding: 32px;
    margin: 16px;
    margin-bottom: 64px;
    display: flex;
}

.right{
    background-color: grey;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 64px;
}

.left{
    flex-direction: column;
}

.left .maintext{
    color: #f9faf8;
    font-weight: bolder;
    font-size: 48px;
    margin-bottom: 0px;
}

.left .subtext{
    font-size: 18px;
    color: #e5e7eb;
}
.left .button{
    background-color: #3882f6;
    font-size: 18px;
    color: #e5e7eb;
    padding: 6px 32px;
    border-radius: 10px;
    text-decoration: none;
    width: 60px;
}

/* Blocks Section */

.blocks{
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
}

.blocks .title{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}

.block-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.block{
    height: 250px;
    width: 175px;
    display: flex;
    flex-direction: column;   
    gap: 16px;
    margin: 16px;
}

.block .box{
    border: solid #3882f6;
    height: 300px;
    border-radius: 25px;
}

.block p{
    margin: 0;
    text-align: center;
}

/* Inspirational Quote */

.quote{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 0px;
    margin: 0px;
    padding: 32px;
}

.quote .epigram{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    margin-bottom: -5px;
    width: 48rem;
    align-self: center;
}

.quote .epigrammist{
    font-size: 18px;
    font-weight: bold;
    width: 45rem;
    text-align: right;
    align-self: center;
}


/* Call to Action */

.cta{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 20rem;
    margin: 0;
}

.cta-box{
    background-color: #3882f6;
    width: 87vh;
    height: 10vh;
    display: flex;
    flex-direction: row;
    padding: 24px;
    gap: 24px;
    justify-content: space-evenly;
    border-radius: 15px;
}

.cta-left{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.cta-right{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.cta-maintext{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bolder;
    margin-bottom: 0px;
}

.cta-subtext{
    font-size: 16px;
    color: #e5e7eb;
}

.cta-right .cta-button{
    border-style: solid;
    color: #f9faf8;
    padding: 8px 32px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}

/* Footer Section*/

.Footer{
    background-color: #1f2937;
    color: #e5e7eb;
    font-style: 18px;
    text-align: center;
    padding: 16px;
}